body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: #1FA2FF;  /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, #A6FFCB, #12D8FA, #1FA2FF);
    background: -moz-linear-gradient(left, #A6FFCB, #12D8FA, #1FA2FF);
    background: -o-linear-gradient(left, #A6FFCB, #12D8FA, #1FA2FF);
    background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.heading {
    font-size: 2em;
    color: #fff;
    margin: 0;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}

.navbar {
    // width: 96.7vw;
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    &__title {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
    }
}

.avatar {
    height: 120px;
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;
    max-width: 100%;
}